asgiref==3.2.3
bson==0.5.8
click==7.1.1
dataclasses==0.6
Django==2.2.11
django-crispy-forms==1.8.1
djangorestframework==3.11.0
djongo==1.3.1
Flask==1.1.2
flask-mongoengine==0.9.5
Flask-SQLAlchemy==2.4.1
Flask-WTF==0.14.3
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
mongoengine==0.19.1
mysqlclient==1.4.6
numpy==1.18.2
Pillow==7.0.0
PyCristoforo==2.0.0
pymongo==3.10.1
python-dateutil==2.8.1
pytz==2019.3
random-password-generator==2.1.0
Shapely==1.7.0
shell==1.0.1
six==1.14.0
SQLAlchemy==1.3.16
sqlparse==0.2.4
Werkzeug==1.0.1
WTForms==2.2.1
